elpa
auto-save-list
backups
*~
/ac-comphist.dat
site-lisp
/init-local.el
/.mc-lists.el
configs/*.elc
/recentf
/projectile-bookmarks.eld
/.DS_Store
/games/
/tramp
/url/
/ido.last
/kfi/.nrepl-history
/jabber-avatar-cache/
/smex-items
/eshell/
