# Treemacs
workspace

# Java LSP
.dap-breakpoints
.lsp-session*

# Org based Config
kfi/emacs-config.el

elpa
auto-save-list
backups
*~
/ac-comphist.dat
site-lisp
/init-local.el
/.mc-lists.el
configs/*.elc
/recentf
/projectile-bookmarks.eld
/.DS_Store
/games/
/tramp
/url/
/ido.last
/kfi/.nrepl-history
/jabber-avatar-cache/
/smex-items
/eshell/
/config.el
/config.html
/.org-id-locations
/custom.el
/notes
/config.org[*Org Src config.org[ emacs-lisp ]*]
/meghanada
/network-security.data
/local.el
flycheck_*
.cache
transient
